/ITP4511_Assignment/nbproject/private/
/ITP4511_Assignment/build/
/ITP4511_Assignment/dist/
ITP4511_Assignment/nbproject/genfiles.properties
ITP4511_Assignment/nbproject/ant-deploy.xml
ITP4511_Assignment/nbproject/project.properties
.4511ERD.vpp.lck
